.articles {
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 200px;
  }
  &__post {
    position: relative;
    width: 632px;
    margin-right: 114px;

    .articles__item:nth-child(2) & {
      margin-left: 264px;
    }
  }
  &__number {
    position: absolute;
    top: -103px;
    left: -150px;

    color: $primary-text-color;

    font-size: 240px;
    line-height: 1;

    opacity: 0.3;
  }
  &__topic {
    @extend %little-orange-text;
    margin-bottom: 27px;
  }
  &__topic::before {
    content: '';

    display: inline-block;
    width: 72px;
    height: 2px;
    margin-right: 24px;
    vertical-align: super;

    background-color: $secondary-text-color;
  }

  &__title {
    max-width: 555px;
    margin-bottom: 27px;

    font-family: Chronicle Display;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;

    color: $primary-text-color;
  }

  &__text {
    margin-bottom: 27px;

    line-height: 1.78;

    color: $primary-text-color;
  }
  &__read-more {
    color: $secondary-text-color;
  }
  &__icon {
    margin-left: 16px;
    vertical-align: middle;
    fill: currentColor;
  }
  &__image {
    .articles__item:nth-child(2) & {
      order: -1;
    }
  }
}
