.menu {
  display: none;
  position: relative;
  @media screen and (max-width: 767px) {
    display: block;
  }
  &__button {
    @media screen and (max-width: 767px) {
      position: relative;
      display: block;
      width: 50px;
      height: 4px;

      margin: 0;
      padding: 0;

      border: none;
      background-color: #ffffff;
      transition: background-color 0.2s linear 0.3s;

      &::before,
      &::after {
        content: '';

        position: absolute;

        width: 50px;
        height: 4px;

        background-color: #ffffff;
        transition: transform 0.5s ease-in;
      }
      &::before {
        transform: translateY(-15px);
      }
      &::after {
        transform: translateY(15px);
      }
      &.open {
        background-color: transparent;
      }
      &.open::before {
        transform: rotate(-45deg);
      }
      &.open::after {
        transform: rotate(45deg);
      }
    }
  }
}

.drop-menu {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    background-color: rgba(11, 29, 38, 0.733);
    transform: translateX(-300px);
    transition: transform 0.5s linear;
    z-index: 1;

    &.open {
      transform: translateX(0);
    }
  }
}
