.hero {
  &__container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__content {
    @media screen and (max-width: 767px) {
      max-width: 250px;
    }
    @media screen and (min-width: 400px) and (max-width: 767px) {
      max-width: 336px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 530px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      max-width: 630px;
    }
    max-width: 950px;
  }
  &__title {
    @extend %little-orange-text;
    @media screen and (max-width: 767px) {
      margin-bottom: 13px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 13px;
      font-size: 18px;
    }
    margin-bottom: 26px;
  }
  &__title::before {
    content: '';
    display: inline-block;
    width: 72px;
    height: 2px;
    background-color: $secondary-text-color;
    vertical-align: super;
    margin-right: 32px;
    @media screen and (max-width: 767px) {
      width: 40px;
      margin-right: 13px;
    }
  }
  &__text {
    margin-bottom: 32px;

    font-family: Chronicle Display;
    font-weight: 600;
    font-size: 88px;
    line-height: 1.14;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 50px;
      margin-bottom: 13px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      font-size: 60px;
    }
    @media screen and (max-width: 767px) {
      font-size: 32px;
    }
  }

  &__skipp {
    line-height: 1.22;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 20px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__icon {
    vertical-align: middle;
    fill: currentColor;
    margin-left: 16px;
  }
}
