%little-orange-text {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $secondary-text-color;
  @media screen and (max-width: 767px) {
    font-size: 10px;
  }
}
